.header {
    background: #fff;
}

li {
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

li a:hover {
    color: #CF95D9;
    text-decoration: none;
}

.lang:hover {
    text-decoration: none;
}

.li-box {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ul-box {
    height: 60px;
    display:flex ;
    position: relative ;
    align-items:center;
}

.ul-box:hover .li-box {
    display: block;
}

.n-link {
    display: block;
    padding: 8px 18px;
    margin: 0;
}

.n-link:hover {
    background: #FCF0FF;
}

.n-link:nth-child(1) {
    border-bottom: 1px solid #F3E3FF;
}

.head-ul {
    width: 180px;
}

@media (max-width: 600px){
    .header {
        position: sticky;
        top: 0;
        width: 100%;
    }
}