* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    /* border: 1px solid red; */
    
}

.nas {
    /* border: 1px solid red; */
    min-height: 10vh;
    overflow: hidden;
    margin-bottom: 20px;
}

.nasMore {
    height: auto;
    border: 1px solid green;
}

.pagination .page-item {
    width: 3.375rem !important;
}

/* .ruler {
    border: 2px solid red;
} */

